<!DOCTYPE html>
<html>
  <head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Flexbox Demo</title>
    <style>
      #a {
        background-color: green;
        width: 150px;
        height: 150px;
        border-radius: 50%;
      }
      #b {
        height: 50px;
        background-color: red;
        width: 250px;
      }
      #c {
        background-color: blue;
        width: 100px;
        height: 50px;
      }
      .special-layout{
        height: 700px;
        border: 2px solid black;
        display: flex;
        flex-direction: row;
        justify-content: space-between;
        align-items: center;
      }
    </style>
  </head>
  <body>
    <a href="/">Home</a>
    <h1>Flexbox!!!</h1>
    <div class="special-layout">
      <div id="a"></div>
      <div id="b"></div>
      <div id="c"></div>
    </div>
  </body>
</html>
